<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Home</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>

<!-- HTML-код адаптивно-резинового контейнера -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 ">
            <div th:replace="fragments/topPanel.html :: topPanel"></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-2" id="md2">
<!--            onclick="location.href = '/admin';"-->
<!--            onclick="location.href = '/user';"-->
            <div class="btn-group-vertical btn-group-toggle btn-block" id="radioTab" data-toggle="buttons">
                <label class="btn btn-light btn-outline-primary active">
                    <input type="radio" name="options" id="option1" value="optionAdmin"
                           onclick="onClickChangeUser()" checked>ADMIN
                </label>
                <label class="btn btn-outline-primary btn-light">
                    <input type="radio" name="options" value="optionUser" id="option2"
                           onclick="onClickChangeUser()">USER
                </label>
                <script>
                    // function onClickChangeAdmin() {
                    //     // alert('kkklll');
                    //     fetch('/admin')
                    //         .then(function (response) {
                    //             return response.json();
                    //         })
                    //          // .then(function (${usersList}) {
                    //          // }
                    // }

                    let newTable = '' ;

                    function getUsersTable() {
                    //     // fetch('/api/currentUser')
                    //     fetch('/api/users')
                    //         .then(function (response) {
                    //             return response.json();
                    //         }).then(usersList =>{
                    //             console.log(Array.from(usersList, user => user.id));
                    //             console.log(Array.from(usersList, user => user.name));
                    //             console.log(Array.from(usersList, user => user.lastname));
                    //
                    //         document.getElementById('blockTable').innerHTML = "";
                    //
                    //         var newTable = "<table border='1' width='80%'><tr>";
                    //         for(j = 1; j <= 10; j++) { //opening braces should always be on the same line in JS
                    //             newTable += "<td align='center'>" + String.fromCharCode(j+64) + "</td>";
                    //             // newTable += "<td align='center'>" + user.name + "</td>";
                    //         }
                    //         newTable += "</tr></table>";
                    //
                    //         document.getElementById('blockTable').innerHTML = newTable;
                    //
                    //     });
                        newTable = '' ;
                        let i = 0;
                        document.getElementById('blockTable').innerHTML = newTable;
                        newTable = "<table border='1' width='80%'><tr>";
                        fetch('/api/users')
                            .then(function (response) {
                                return response.json();
                            }).then(usersList =>{
                            Array.from( usersList, function (user) {
                                newTable += "<td align='center'>" + user.name + "</td>";
                            });
                            newTable += "</tr></table>";
                            document.getElementById('blockTable').innerHTML = newTable;
                        });
                        // console.log(newTable);
                    }


                    function onClickChangeUser() {
                        getUsersTable();
                    }

                </script>
            </div>
        </div>
        <div class="col-md-10 bg-light">

            <div th:replace="fragments/admin_tab.html :: tab1"></div>

        </div>
    </div>
</div>

<div th:replace="fragments/editModal.html :: editModal"></div>



</body>
</html>