<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Home</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>

<!-- HTML-код адаптивно-резинового контейнера -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 ">
            <div th:replace="fragments/topPanel.html :: topPanel"></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-2" id="md2">
            <div class="btn-group-vertical btn-group-toggle btn-block" id="radioTab" data-toggle="buttons">
                <label class="btn btn-light btn-outline-primary active">
                    <input type="radio" name="options" id="option1" value="optionAdmin"
                           onclick="onClickChangeUser(0)" checked>ADMIN
                </label>
                <label class="btn btn-outline-primary btn-light">
                    <input type="radio" name="options" value="optionUser" id="option2"
                           onclick="onClickChangeUser(1)">USER
                </label>

            </div>
        </div>
        <div class="col-md-10 bg-light">

            <div th:replace="fragments/admin_tab.html :: tab1"></div>

        </div>
    </div>
</div>

<div th:replace="fragments/editModal.html :: editModal"></div>


<script>

    let newTable = '' ;

    function getUsersTable(num) {
        newTable = '' ;
        let i = 0;
        let path = num==0 ? '/api/users' : '/api/currentUser' ;
        document.getElementById('blockTable').innerHTML = newTable;
        newTable = "<div class='panel panel-primary'> " +
            "<div class='panel-heading'>"+
            "<h3 class='panel-title'>All users</h3>"+
            "</div>"+
            "<div class='panel panel-default'>"+
            "<div class='panel-body bg-white'>"+
            "<div class='panel-body'>"+
            "<div class='panel panel-default'>"+
            "<div class='panel-heading'></div>"+
            "<table class='table'>"+
            "<tr>"+
            "<td align='center'><b>ID</b></td>"+
            "<td align='center'><b>FirstName</b></td>"+
            "<td align='center'><b>LastName</b></td>"+
            "<td align='center'><b>Mail</b></td>"+
            "<td align='center'><b>Role</b></td>"+
            "<td align='center'><b>Active</b></td>"+
            "</tr>" ;

        fetch(path)
            .then(function (response) {
                return response.json();
            }).then(usersList =>{
            Array.from( usersList, function (user) {
                stringRoles ='';
                Array.from(user.roles,function (role) {
                    stringRoles += role.name +' ';
                })

                newTable +=
                    "<tr><td align='center'>" + user.id + "</td>" +
                    "<td align='center'>" + user.name + "</td>" +
                    "<td align='center'>" + user.lastname + "</td>" +
                    "<td align='center'>" + user.mail + "</td>" +
                    "<td align='center'>" + stringRoles + "</td>" +
                    "<td align='center'>" + user.active + "</td>" +
                    "<td>"+
                    "<button className='btn btn-info' " +
                    "data-parameter1=" + user.id +
                    " id='btnEdit' "+
                    " onClick=\"oneditclick(this.getAttribute('data-parameter1'))\">" +
                    "edit" +
                    "</button>" +
                    "</td>" +
                    "<td>"+
                    "<button className='btn btn-outline-danger' " +
                    "data-parameter1=" + user.id  +
                    " id='btnEdit' "+
                    " onClick=\"ondeleteclick(this.getAttribute('data-parameter1'))\">" +
                    "delete" +
                    "</button>" +
                    "</td>" +
                    "</tr>" ;
            });
            newTable += "</table>" +
                "</div>" +
                "</div>" +
                "</div>" +
                "</div>" +
                "</div>";
            document.getElementById('blockTable').innerHTML = newTable;
            console.log(newTable);
        });

    }



    function onClickChangeUser(num) {
        getUsersTable(num);
    }

    function oneditclick(uid) {
        $('#winModal').modal('show');
        fetch('/api/' + uid)
            .then(function (response) {
                return response.json();
            })
            .then(function (editUser) {
                document.getElementById("idEdit").setAttribute('value', editUser.id);
                document.getElementById("nameEdit").setAttribute('value', editUser.name);
                document.getElementById("lastnameEdit").setAttribute('value', editUser.lastname);
                document.getElementById("mailEdit").setAttribute('value', editUser.mail);
                document.getElementById("passwordEdit").setAttribute('value', '');
                document.querySelector("#btn_action").innerHTML = "Edit";
                $("#formModal").attr("action", "/edit");
                document.getElementById("passwordEdit").style.display = "inline";
                document.getElementById("passwordLabel").style.display = "inline";
            });

    }

    function ondeleteclick(uid) {
        $('#winModal').modal('show');
        fetch('/api/' + uid)
            .then(function (response) {
                return response.json();
            })
            .then(function (deleteUser) {
                document.getElementById("idEdit").setAttribute('value', deleteUser.id);
                document.getElementById("nameEdit").setAttribute('value', deleteUser.name);
                document.getElementById("lastnameEdit").setAttribute('value', deleteUser.lastname);
                document.getElementById("mailEdit").setAttribute('value', deleteUser.mail);
                document.querySelector("#btn_action").innerHTML = "Delete";
                $("#formModal").attr("action", "/delete");
                document.getElementById("passwordEdit").style.display = "none";
                document.getElementById("passwordLabel").style.display = "none";
            });
    }


    getUsersTable(0);
</script>

</body>
</html>