<!--<form id="formElem">-->
<!--    <input type="text" name="name" value="John">-->
<!--    <input type="text" name="surname" value="Smith">-->
<!--    <input type="submit">-->
<!--</form>-->

<!--<script>-->
<!--    formElem.onsubmit = async (e) => {-->
<!--        e.preventDefault();-->

<!--        let response = await fetch('/test100', {-->
<!--            method: 'POST',-->
<!--            body: new FormData(formElem)-->
<!--        });-->

<!--        let result = await response.json();-->

<!--        alert(result.message);-->
<!--    };-->
<!--</script>-->

<script>
postForm('http://example.com/api/v1/users', 'form#userEdit')
.then(data => console.log(data))

function postForm(url, formSelector) {
const formData = new FormData(document.querySelector(formSelector))

return fetch(url, {
method: 'POST', // 'GET', 'PUT', 'DELETE', etc.
body: formData  // a FormData will automatically set the 'Content-Type'
})
.then(response => response.json())
.catch(error => console.error(error))
}
</script>