<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Home</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>

<!-- HTML-код адаптивно-резинового контейнера -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 ">
            <div th:replace="fragments/topPanel.html :: topPanel"></div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-2" id="md2">

            <div class="btn-group-vertical btn-group-toggle btn-block" id="radioTab" data-toggle="buttons">
                <label class="btn btn-light btn-outline-primary active">
                    <input type="radio" name="options" id="option1" value="optionAdmin" onclick="location.href = '/admin';" checked>ADMIN
                </label>
                <label class="btn btn-outline-primary btn-light">
                    <input type="radio" name="options" value="optionUser" id="option2" onclick="location.href = '/user';">USER
                </label>
            </div>


        </div>
        <div class="col-md-10 bg-light">

                        <div th:replace="fragments/admin_tab.html :: tab1"></div>

        </div>
    </div>
</div>

</body>
</html>