
<div th:fragment="tab1">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="users-tab" data-toggle="tab" href="#usersTab" role="tab"
               aria-controls="usersTab" aria-selected="true">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="adduser-tab" data-toggle="tab" href="#adduserTab" role="tab"
               aria-controls="adduserTab" aria-selected="false">New User</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="usersTab" role="tabpanel" aria-labelledby="users-tab">
            <!--   ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            <h2>Users</h2>
            <br>
            <br>
            <br>
            <div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">All users</h3>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body bg-white">
                            <div class="panel-body">
                                <div class="panel panel-default">
                                    <!-- Обычное содержимое панели -->
                                    <div class="panel-heading"></div>
                                    <table class="table">
                                        <tr>
                                            <td>
                                            <th>ID</th>
                                            </td>
                                            <td>
                                            <th>FirstName</th>
                                            </td>
                                            <td>
                                            <th>LastName</th>
                                            </td>
                                            <td>
                                            <th>Mail</th>
                                            </td>
                                            <td>
                                            <th>Role</th>
                                            </td>
                                            <td>
                                            <th>Active</th>
                                            </td>
                                        </tr>
                                        <tr th:each=" user : ${usersList}">
                                            <td>
                                            <th th:utext="${user.getId()}"></th>
                                            </td>
                                            <td>
                                            <th th:utext="${user.getName()}"></th>
                                            </td>
                                            <td>
                                            <th th:utext="${user.getLastname()}"></th>
                                            </td>
                                            <td>
                                            <th th:utext="${user.getMail()}"></th>
                                            </td>
                                            <td>
                                            <th th:utext="${user.getStingRoles()}"></th>
                                            </td>
                                            <td>
                                            <th th:utext="${user.getActive()}"></th>
                                            </td>


                                                <td><a th:href="@{/edit/{id}(id=${user.id})}" class="btn btn-info"
                                                role="button"  id="editButton">edit</a></td>



                                            <!-- Модальное окно -->
                                            <div th:replace="fragments/editModal.html :: editModal"></div>


<!--                                            <td><a th:href="@{/delete/{id}(id=${user.id})}"-->
<!--                                                   class="btn btn-danger"-->
<!--                                                   role="button">delete</a>-->
<!--                                            </td>-->
                                            <td><a th:href="@{/delete/{id}(id=${user.id})}" class="btn btn-danger"
                                                   role="button"  id="deleteButton">delete</a></td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--   ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        </div>
        <div class="tab-pane fade" id="adduserTab" role="tabpanel" aria-labelledby="adduser-tab">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="panel panel-default">
                            <div class="p-2 mb-2 bg-light rounded">
                                <div class="panel-body font-weight-bold ">Add new user</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body bg-white">
                    <div class="container h-100">
                        <div class="row h-100 text-md-center justify-content-center ">
                            <form class="col-3" th:action="@{/add}" th:object="${userAdd}" method="POST">
                                <div class="form-group">
                                    <!--                                    <label for="nameAdd" class="text-center">FirstName</label>-->
                                    <label for="nameAdd"
                                           class="center-block  font-weight-bold">Name</label>
                                    <input type="text" class="form-control bg-warning" name="nameAdd"
                                           id="nameAdd" th:field="*{name}">
                                </div>
                                <div class="form-group">
                                    <label for="lastnameAdd"
                                           class="center-block  font-weight-bold">LastName</label>
                                    <input type="text" class="form-control bg-warning" name="lastnameAdd"
                                           id="lastnameAdd" th:field="*{lastname}">
                                </div>
                                <div class="form-group">
                                    <label for="passwordAdd"
                                           class="center-block  font-weight-bold">Password</label>
                                    <input type="text" class="form-control bg-warning" name="passwordAdd"
                                           id="passwordAdd" th:field="*{password}">
                                    <!--                                       th:value="*{password}"-->
                                </div>
                                <div class="form-group">
                                    <label for="mailAdd" class="center-block  font-weight-bold">Mail</label>
                                    <input type="text" class="form-control bg-warning" name="mailAdd"
                                           id="mailAdd" th:field="*{mail}">
                                </div>
                                <div class="form-group">
                                    <label for="mailAdd" class="center-block  font-weight-bold">Role</label>
                                    <select class="custom-select" multiple="multiple" id="idRoles" name="idRoles">
                                        <option selected th:value="${rolesAll.get(0).getId()}" th:text="ADMIN"></option>
                                        <option value="1" th:value="${rolesAll.get(1).getId()}" th:text="USER"></option>
                                    </select>
                                </div>
                                <br>
                                <br>

                                <div class="form-group">
                                    <input type="submit" class="btn-success" value="Add new user">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="userTab" role="tabpanel" aria-labelledby="user-tab">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="panel panel-default">
                            <div class="p-2 mb-2 bg-light rounded">
                                <div class="panel-body font-weight-bold ">Add new user</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

    </div>
</div>



