<div th:fragment="editModal">


    <!--                        id="form_edit"-->
    <!--                          name="form_edit"-->

    <div class="modal bd-example-modal-lg" id="winModal"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="col-6 offset-3" th:action="@{/edit}"
                          th:object="${editUser}"
                          method="PUT" id="formModal" name="formModal">
                        <div class="row">
                            <!--                            <div class="col-4 offset-4">-->
                            <div class="form-group">
                                <label for="idEdit"
                                       class="center-block font-weight-bold">Id</label>
                                <input type="text"
                                       class="form-control bg-secondary"
                                       name="idEdit"
                                       id="idEdit"
                                       th:field="*{id}">
                            </div>
                            <!--                            </div>-->
                        </div>
                        <br>
                        <div class="row">
                            <!--                            <div class="col-4 offset-4">-->
                            <div class="form-group">
                                <label for="nameEdit"
                                       class="center-block  font-weight-bold">Name</label>
                                <input type="text"
                                       class="form-control bg-warning"
                                       name="nameEdit"
                                       id="nameEdit"
                                       th:field="*{name}">
                            </div>
                            <!--                            </div>-->
                        </div>
                        <br>
                        <div class="row">
                            <!--                            <div class="col-4 offset-4">-->
                            <div class="form-group">
                                <label for="lastnameEdit"
                                       class="center-block  font-weight-bold">LastName</label>
                                <input type="text"
                                       class="form-control bg-warning"
                                       name="lastnameEdit"
                                       id="lastnameEdit"
                                       th:field="*{lastname}">
                            </div>
                            <!--                            </div>-->
                        </div>
                        <br>
                        <div class="row">
                            <!--                            <div class="col-4 offset-4">-->
                            <div class="form-group">
                                <label for="mailEdit"
                                       class="center-block  font-weight-bold">Mail</label>
                                <input type="text"
                                       class="form-control bg-warning"
                                       name="mailEdit"
                                       id="mailEdit"
                                       th:field="*{mail}">

                                <!--                                            th:value="*{password}"-->
                            </div>
                            <!--                            </div>-->
                        </div>
                        <br>
                        <div class="row">
                            <!--                            <div class="col-4 offset-4">-->
                            <div class="form-group">
                                <label for="passwordEdit"
                                       class="center-block  font-weight-bold" id="passwordLabel">Password</label>
                                <input type="text"
                                       class="form-control bg-warning"
                                       name="passwordEdit"
                                       id="passwordEdit"
                                       th:field="*{password}">
                            </div>
                            <!--                            </div>-->
                        </div>
                        <br>
                        <div class="row">
                            <!--                            <div class="col-4 offset-4">-->
                            <div class="form-group">
                                <label for="roleEdit"
                                       class="center-block  font-weight-bold">Role</label>
                                <select class="custom-select"
                                        multiple="multiple"
                                        id="idRoles"
                                        name="idRoles">
                                    <option selected
                                            th:value="${rolesAll.get(0).getId()}"
                                            th:text="ADMIN"></option>
                                    <option value="1"
                                            th:value="${rolesAll.get(1).getId()}"
                                            th:text="USER"></option>
                                </select>
                            </div>
                            <!--                            </div>-->
                        </div>
                        <br>
                        <br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary" id="btn_action" value="edit"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>


</div>