<div th:fragment="topPanel">
    <div class="panel panel-default">
        <div class="p-2 mb-2 bg-dark rounded">
            <div class="panel-body bg-dark text-white ">
                <table >
                    <tr>
                        <td width="30%" >
                        <th th:utext="${userCurrent}"></th>
<!--                            <th th:utext="${userCurrent.getMail()}"></th>-->
<!--                            <th th:utext="':'"></th>-->
<!--                            <th th:utext="${userCurrent.getStingRoles()}"></th>-->
                        </td>
                        <td width="65%"></td>
                        <td width="5%">
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" value="Logout"/>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>