<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <name>Add</name>
</head>
<body>
<form action="/add" method="POST">
<!--    <label for="name">name</label>-->
<!--    <input th:type="text" name="name" id="name" value="${userApp.name}">-->
    <input type="text" name="userName"  th:value="${userApp.firstname}" />
<!--    <label for="lastname">lastname</label>-->
<!--    <input type="text" name="lastname" id="lastname" value="${userApp.lastname}">-->
<!--    <label for="password">password</label>-->
<!--    <input type="text" name="password" id="password" value="${userApp.password}">-->
<!--    <label for="old">old</label>-->
<!--    <input type="text" name="old" id="old" value="${userApp.old}">-->
<!--    <label for="mail">mail</label>-->
<!--    <input type="text" name="mail" id="mail" value="${userApp.mail}">-->
<!--    <%&#45;&#45;    <label for="roleCurrent">role</label>&#45;&#45;%>-->
<!--    <%&#45;&#45;    <input type="text" name="roleCurrent" id="roleCurrent" value="${userApp.getAuthority}">&#45;&#45;%>-->
<!--    <input type="submit" value="Add new user">-->
    <br>
    <br>
    <br>
    <br>
<!--    <a href="<c:url value="/users" />"><&#45;&#45; Назад</a>-->

</form>
</body>
</html>