<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
<!--        <h1 th:text="${msg}"></h1>-->
        <table>
            <tr><th>id</th><th>brend</th><th>model</th><th>serial</th></tr> <!--ряд с ячейками заголовков-->
            <tr><td>${msg}</td><td>${msg}</td><td>${msg}</td><td>${msg}</td></tr> <!--ряд с ячейками тела таблицы-->
        </table>
    </th:block>
</div>
</body>
</html>